# Archivos temporales
*.tmp
*.log
.DS_Store
Thumbs.db

# Archivos de backup
*-backup-*.json
*.bak

# Editor
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Secretos y Configuracion Local
sync_config.py
serviceAccountKey.json
